@attribute [Authorize]
@page "/habit/new"
@using Microsoft.AspNetCore.Components.Web
<PageTitle>New Habit</PageTitle>

<h3>Add a New Habit</h3>
<p>We will add a real form here shortly. For now this is a placeholder.</p>
