@using Microsoft.AspNetCore.Identity
@using HealthyHabitsTracker.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!-- Required by Identity UI layout. Minimal host-provided partial. -->
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
}
else
{
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
        </li>
}
</ul>
